@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: url('../public/SF-Pro-Display/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src: url('../public/SF-Pro-Display/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: 'SF-Pro-Display-Regular', sans-serif;
}

.font-sf-pro-bold {
  font-family: 'SF-Pro-Display-Bold', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  cursor: grab;
}

.marquee-container.active {
  cursor: grabbing;
}

.marquee {
  display: flex;
  gap: 16px;
  width: fit-content;
  animation: marquee 40s linear infinite;
}

@media screen and (min-width: 768px) {
  .marquee:hover {
    animation-play-state: paused;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}


